* {
    box-sizing: border-box;
  }

/* Body */
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


#app {
    width: 400px;
    height: 560px;
    background-color: rgba(218, 181, 236, 0.767);
    color: rebeccapurple;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

#frog {
    display: none;
}

a { font-size: 1.4em; }


.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	background: #7835af;
    border-radius: 8px;
    width: 85%;
    padding: 0.1rem;
    text-align: center;
    left: 6%;
    color: seashell;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 75%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border: 10px solid transparent;
	border-right-color: #7835af;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
    margin-left: -20px;
    left: 3%;
}

footer {
    font-weight: 300;
    font-size: 0.85rem;
    margin: 0 1rem;
}