* {
    box-sizing: border-box;
  }

/* Body */
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: seashell;
}

/*  */
#app {
    width: 400px;
    height: auto;
    background-color: rgba(218, 181, 236, 0.767);
    color: rebeccapurple;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding: 0.5rem;
    font-weight: 700;
    margin: 1rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

a { font-size: 1.4em; }

#quote {
    font-weight: 500;
    font-size: 1.2rem;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	background: #72409b;
    border-radius: 8px;
    width: 87%;
    padding: 0.05rem 0.8rem;
    text-align: center;
    left: 6%;
    color: seashell;
    font-family: 'Montserrat', sans-serif;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 75%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border: 10px solid transparent;
	border-right-color: #7835af;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
    margin-left: -20px;
    left: 3%;
}

footer {
    font-weight: 300;
    font-size: 0.85rem;
    margin: 1rem 1rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    font-weight: 500;
    font-size: 0.9rem;
    width: 80%;
    background-color: seashell;
    padding: 20px;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 8px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

textarea:focus {
    border: 2px solid rgb(131, 96, 145);
    background-color: rgb(250, 240, 255);
    border-radius: 8px;
}

button {
    background-color: seashell;
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.blurb {
    margin: 0 0 1rem 0;
}

#display-container {
    margin: 0;
}

#Journal {
    margin: 0;
}